<plugin name='jquery-ui-x' version='1.10.3.2' grailsVersion='2.2 &gt; *'>
  <author>Thomas Bittermann</author>
  <authorEmail>thomas@cobonet.de</authorEmail>
  <title>jQuery UI Resources &amp; Extensions</title>
  <description>based on Marc Palmers work ... simply supplies jQuery UI resources, depends on jQuery plugin. Use this plugin to avoid resource duplication and conflicts.</description>
  <type>JqueryUiXGrailsPlugin</type>
  <resources>
    <resource>JqueryUiXPluginResources</resource>
    <resource>com.coderzplaza.grails.jqueryuix.JqueryUiXTagLib</resource>
  </resources>
</plugin>